<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <h1 class="text-center">Dashboard de administrador</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block">Registrar empleado</a>
            </div>
            <div class="col-md-6">
                <a href="#" class="btn btn-primary btn-block">Registrar promoción</a>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
