<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>
  <h1 class="text-center">Hola Mundo</h1>
  <h2 class="text-center">Esto va de información general XD</h2>
<%- include('./partials/footer.ejs') %>
