<%- include('./partials/header.ejs') %> 
  <%- include('./partials/navbar/navbarIndex.ejs') %>
  <!-- Principal -->
  <main>
    <section class="presentation" id="home">
      <h1 class="text-center strong">Supermercado La Hormiga Culona</h1>
      <img src="/logo.png" class="img-fluid mx-auto d-block img-logo" alt="" />
      <h3 class="text-center font-weight-normal font-italic">
        "Tu supermercado al alcance de tu bolsillo."
      </h3>
      <br />
    </section>
    <section class="about-us" id="about-us">
      <h1 class="text-center bg-dark text-white py-4">Sobre Nosotros</h1>
      <br />
      <h2 class="text-center">Objetivos de nuestra empresa:</h2>
      <br />
      <div class="container">
        <div class="row align-items-center">
          <!-- Tarjeta 1 -->
          <div class="col-12 col-md-4">
            <div class="card shadow-sm">
              <img class="card-img-top" src="/monigote_mision.jpg" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text text-center font-weight-bold">Misión:</p>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                  incidunt nemo repellendus perspiciatis, debitis, eligendi facere ut
                  vitae esse provident at delectus asperiores eos, labore iste
                  recusandae illo ratione nobis.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="col-12 col-md-4">
            <div class="card shadow-sm">
              <img class="card-img-top" src="/monigote_mision.jpg" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text text-center font-weight-bold">Visión:</p>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                  incidunt nemo repellendus perspiciatis, debitis, eligendi facere ut
                  vitae esse provident at delectus asperiores eos, labore iste
                  recusandae illo ratione nobis.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="col-12 col-md-4">
            <div class="card shadow-sm">
              <img class="card-img-top" src="/monigote_mision.jpg" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text text-center font-weight-bold">Política institucional:</p>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                  incidunt nemo repellendus perspiciatis, debitis, eligendi facere ut
                  vitae esse provident at delectus asperiores eos, labore iste
                  recusandae illo ratione nobis.
                </p>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </section>
    <br />
    <section class="offers" id="offers">
      <h1 class="text-center bg-dark text-white py-4">Ofertas</h1>
      <h3 class="text-center">
        Nuestras ofertas semanales.
      </h3>
      <div class="container">
        <div class="row align-items-center">
          <!-- Tarjeta 1 -->
          <div class="col-12 col-md-4">
            <div class="card shadow-sm">
              <img src="/favicon.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Nombre del producto</h5>
                <p class="card-text text-center">Precio anterior</p>
                <p class="card-text text-center">Precio con descuento</p>
                <!-- <a href="#" class="btn btn-primary btn-block">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="col-12 col-md-4">
            <div class="card shadow-sm">
              <img src="/favicon.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Nombre del producto</h5>
                <p class="card-text text-center">Precio anterior</p>
                <p class="card-text text-center">Precio con descuento</p>
                <!-- <a href="#" class="btn btn-primary btn-block">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="col-12 col-md-4">
            <div class="card shadow-sm">
              <img src="/favicon.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">Nombre del producto</h5>
                <p class="card-text text-center">Precio anterior</p>
                <p class="card-text text-center">Precio con descuento</p>
                <!-- <a href="#" class="btn btn-primary btn-block">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </section>
  </main>
  <br />
  <!-- Footer -->
  <footer class="bg-dark text-white">
    <div class="footer-copyright text-center py-3">
      © 2023 Copyright: Supermercado La Hormiga Culona
    </div>
  </footer>
<%- include('./partials/footer.ejs') %>
