<%- include('./partials/header.ejs') %>
<!-- Principal -->
<main>
  <h1 class="text-center">ATENCIÓN</h1>
  <h2 class="text-center">Acción no permitida</h2>
  <div
    class="container d-flex flex-column justify-content-center align-items-center"
    style="height: 100vh"
  >
    <a href="/" class="btn btn-danger">Volver al inicio</a>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
