<!-- welcomeAdmin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>ALERTA</title>
</head>
<body>
  <!-- Formulario para redirigir al usuario después de unos segundos -->
  <form id="redirectForm" action="/admin/dashboard" method="POST">
    <input type="hidden" name="redirectToDashboard" value="true">
  </form>
  <!-- Script para mostrar el alert y enviar el formulario después de unos segundos -->
  <script>
    alert('Bienvenido administrador'); // Muestra el alert con el nombre del usuario
    setTimeout(function() {
      document.getElementById("redirectForm").submit(); // Enviar el formulario
    }, 500); // Cambia el tiempo según tus preferencias (en milisegundos)
  </script>
</body>
</html>
